* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #020403;
    font-family: Arial, sans-serif;
    touch-action: none;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#loading {
    position: fixed;
    inset: 0;
    z-index: 20;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;

    background:
        radial-gradient(circle at center,
        #18291c 0%,
        #071008 45%,
        #010201 100%);
}

#loading h1 {
    font-size: 38px;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

#start {
    padding: 16px 30px;

    border: 1px solid #777;
    border-radius: 10px;

    background: #101810;
    color: white;

    font-size: 18px;
    cursor: pointer;
}

#start:hover {
    background: #1b291c;
}

#controls {
    margin-top: 18px;
    color: #aaa;
    text-align: center;
    font-size: 13px;
}

#hud {
    position: fixed;
    inset: 0;

    color: white;
    pointer-events: none;

    text-shadow: 0 2px 5px black;
}

#device {
    position: absolute;
    left: 15px;
    top: 15px;

    font-size: 14px;
}

#battery {
    position: absolute;
    right: 15px;
    top: 15px;

    font-size: 14px;
}

#crosshair {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    font-size: 22px;
}

#message {
    position: absolute;

    left: 50%;
    bottom: 25px;

    transform: translateX(-50%);

    padding: 9px 15px;

    border-radius: 8px;

    background: rgba(0,0,0,.55);

    font-size: 13px;
}

#mobileControls {
    display: none;

    position: fixed;
    inset: 0;

    z-index: 10;

    pointer-events: none;
}

#joystick {
    position: absolute;

    left: 20px;
    bottom: 25px;

    width: 110px;
    height: 110px;

    border-radius: 50%;

    border: 2px solid rgba(255,255,255,.25);

    background: rgba(0,0,0,.25);

    pointer-events: auto;
}

#joystickKnob {
    position: absolute;

    left: 34px;
    top: 34px;

    width: 42px;
    height: 42px;

    border-radius: 50%;

    background: rgba(255,255,255,.3);
}

#lookArea {
    position: absolute;

    right: 0;
    top: 0;

    width: 65%;
    height: 75%;

    pointer-events: auto;
}

#jumpButton,
#flashButton {
    position: absolute;

    bottom: 30px;

    width: 60px;
    height: 60px;

    border-radius: 50%;

    border: 1px solid rgba(255,255,255,.3);

    background: rgba(0,0,0,.5);

    color: white;

    font-size: 22px;

    pointer-events: auto;
}

#flashButton {
    right: 20px;
}

#jumpButton {
    right: 95px;
}

@media (max-width: 700px), (pointer: coarse) {

    #mobileControls {
        display: block;
    }

    #message {
        bottom: 145px;
    }

    #loading h1 {
        font-size: 28px;
    }
  }
